.map-container {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
}
.pharmacy-marker {
    background-image: url('../../assets/pharmacy-marker.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }