.map-container {
  width: 100%;
  height: calc(100vh - 140px);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .map-container {
    height: calc(50vh - 90px);
  }
  
}