.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 140px);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.map-container .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.map-container .geolocate-btn {
  display: flex;
  background: rgb(255, 255, 255);
  padding: 6px;
}
@media screen and (max-width: 768px) {
  .map-container {
    height: calc(50vh - 90px);
  }
}
